<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.Lang }}">

<div class="section main post">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <a href="{{ .Permalink }}">{{ partial "page-heading.html" . }}</a>
                <div class="meta">
                    <div class="date">{{ .Date.Format .Site.Params.DateForm }}</div>
                    <div class="word-count"><div class="middot"></div>{{ if eq 1 .FuzzyWordCount }}{{ .FuzzyWordCount }} word{{ else }}{{ .FuzzyWordCount }} words{{ end }}</div>
                    <div class="reading-time"><div class="middot"></div>{{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}</div>
                </div>
            </div>
            <div class="markdown">
                {{ .Content }}
                <br>
                <p><a href="/posts">Back to posts</a></p>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
