{{ partial "header_only_narrow.html" . }}

<div class="section main post">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <div class="title-container">
                    <div class="page-heading">
                        <a href="{{ .Permalink }}">{{ if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }}{{ end }}</a>
                    </div>
                    <div class="initials"><a href="{{ .Site.BaseUrl }}">{{ .Site.Params.Initials }}</a></div>
                </div>
                <div class="meta">
                    <div class="date">{{ .Date.Format .Site.Params.DateForm }}</div>
                    <div class="reading-time"><div class="middot"></div>{{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}</div>
                </div>
            </div>
            <div class="markdown">
                {{ .Content }}
                <br>
                <p><a href="/posts">Back to posts</a></p>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
