<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Param "Lang" }}">

<section class="header"> 
    <div class="container">
        <div class="content">
            <a href="/"><div class="name">{{ .Site.Param "Author" }}</div></a>
            <nav>
                <ul>
                    <a href="/blog/"><li>Blog</li></a>
                    <a href="/about/"><li>About</li></a>
                    <a href="/code/"><li>Code</li></a>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="icons">
    <div class="container">
        <div class="content">

        {{ if .Site.Param "GitHub" }}
            <a href="{{ .Site.Param "GitHub" }}" target="_blank">
                <i class="icon ion-social-github"></i>
            </a>
        {{ end }}
        
        {{ if .Site.Param "Twitter" }}
            <a href="{{ .Site.Param "Twitter" }}" target="_blank">
                <i class="icon ion-social-twitter"></i>
            </a>
        {{ end }}

        {{ if .Site.Param "LinkedIn" }}
            <a href="{{ .Site.Param "LinkedIn" }}" target="_blank">
                <i class="icon ion-social-linkedin"></i>
            </a>
        {{ end }}

        {{ if .Site.Param "Facebook" }}
            <a href="{{ .Site.Param "Facebook" }}" target="_blank">
                <i class="icon ion-social-facebook larger"></i>
            </a>
        {{ end }}

        {{ if .Site.Param "SoundCloud" }}
            <a href="{{ .Site.Param "SoundCloud" }}" target="_blank">
                <i class="icon ion-ios-musical-notes larger"></i>
            </a>
        {{ end }}

        {{ if .Site.Param "Email" }}
            <a href="mailto:{{ .Site.Param "Email" }}">
                <i class="icon ion-ios-email larger"></i>
            </a>
        {{ end }}

        {{ if .Site.RSSLink }}
            <a href="{{ .Site.RSSLink }}">
                <i class="icon ion-social-rss larger"></i>
            </a>
        {{ end }}
        </div>
    </div>
</section>
