{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>
            {{ end }}

            <div class="page-heading">{{ i18n "latestPosts" }}</div>
            <div style="padding-bottom:20px;">
                {{ $pag := .Paginate (where site.RegularPages "Type" "in" "blog") .Site.Params.Paginate }}
                <ul>
                {{ range $pag.Pages }}
                    {{ partial "li.html" . }}
                {{ end }}
                </ul>
            </div>

            {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
            <div class="row mt-5">
                <ul>
                    {{ if .Paginator.HasPrev }}
                        <li class="previous">
                        <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
                        </li>
                    {{ end }}
                    {{ if .Paginator.HasNext }}
                    <li class="next">
                        <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}

        </div>
    </div>
</section>
{{ partial "footer.html" . }}

